<h1>ショッピングカート</h1>
<table class="table">
  <thread>
    <th>
      <th style="width: 40%">商品名</th>
      <th style="width: 15%">単価(税込)</th>
      <th style="width: 15%">数量</th>
      <th style="width: 15%">小計</th>
      <th style="width: 15%"></th>
    </th>
  </thread>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
